body{
    background: #6CA371;
}
.lay{
    position: absolute;
    width: 1366px;
    height: 655px;
    left: 0px;
    top: 0px;
    background: #6CA371;
}
.down{
    position: absolute;
    left: calc(50% - 100px/2 - 20px);
    top: calc(50% - 100px/2 - 238.29px);
    transform: rotate(-45deg);
    top: 530px;
    cursor: pointer;
    transition: all 1s ease;
}
.headertext{
    position: absolute;
    left: 300px;
    top: calc(50% - 337px/2 - 685.5px);
    font-family: Romanesco;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 200px;
    color: #000000;
    top: -70px;
}
.down:hover{
    transform: scale(0.9);
}